
body {
    padding-top: 0 !important; 
}
.table-responsive {
    overflow-x: auto;
    margin-top: 0; 
    padding-top: 0; 
    border-radius: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    
}

.table th, 
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; 
}

.table td:hover {
    overflow: visible;
    white-space: normal;
    position: relative;
    z-index: 1;
    background: #eeeeee;
}

.btn-sm {
    padding: 6px 10px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #353535;
    border: none;
}

.btn-primary:hover{
    background-color: #585858;
    border: none;
}

.btn-warning {
    background-color: #b9b9b9;
    border: none;
}

.btn-warning:hover {
    background-color: #4d4d4d;
    border: none;
}

.btn-danger {
    background-color: #353535;
    border: none;
}

.btn-danger:hover {
    background-color: #585858;
    border: none;
}

.kiskep {
    width: 60px !important;
}