/* Általános navigációs stílusok */
.navbar {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo {
    width: 60px;
    filter: drop-shadow(3px 2px 2px rgba(0.5, 0.5, 0.5, 0.5));
}

/* Menü lista stílusok */
.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.nav-item a:hover {
    color: #fff;
    background-color: #505050;
}

/* Ikonok és felhasználói rész */


/* Drop-down menü stílusok */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}
.dropbtn:hover {
    color: #5f5f5f;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #b6b6b6;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.greeting {
    padding: 10px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #eee;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}