.adatok-container {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    padding-bottom: 80px; /* Add space for the buttons */

  }


.rendeles-adatok{
  padding: 30px;
  font-size: 20px;
}

.info{
  padding-left: 30px;
  font-size: 17px;
  color: rgb(94, 94, 94);
}

