/* AdminList.css */
.container {
    max-width: 100%;
    padding-top: 0;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, 
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Megakadályozza a túl hosszú szövegeket */
}

.table td:hover {
    overflow: visible;
    white-space: normal;
    position: relative;
    z-index: 1;
    background: #f8f9fa;
}

.btn-sm {
    padding: 6px 10px;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #0f2450;
    border: none;
}

.btn-primary:hover{
    background-color: #003775;
    border: none;
}

.btn-warning {
    background-color: #0078e9;
    border: none;
}

.btn-warning:hover {
    background-color: #6596c5;
    border: none;
}

.btn-danger {
    background-color: #0040a0;
    border: none;
}

.btn-danger:hover {
    background-color: #00255e;
    border: none;
}


